@page "/bai-viet/{url}"
@model CMS.Website.Pages.Article.ArticleDetailModel
@{
    ViewBag.Title = Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.ArticleDetail.Name));
    Layout = "~/Pages/Shared/_LayoutArticle.cshtml";
}

<h1>@Model.ArticleDetail.Name</h1>
<div>
    @Html.Raw(@System.Web.HttpUtility.HtmlDecode(@Model.ArticleDetail.Content))
</div>

                    